* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.top-header {
    background: #0e7c5f;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border-radius: 0 0 4px 4px;
}

/* DEVICE GRID */
.device-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.device-card {
    background: #f7f7f7;
    padding: 12px 5px;
    border-radius: 8px;
    border: 2px solid #d9d9d9;
    cursor: pointer;
    transition: 0.2s;
}

.device-card img {
    width: 45px;
    margin-bottom: 5px;
    opacity: 0.5;
}

.device-card p {
    font-size: 12px;
    color: #666;
}

/* Hover effect on non-selected items */
.device-card:hover {
    border-color: #00A889;
    background-color:#E0F7F4;
}

/* EXACT SELECTED STYLE (from your image) */
.device-card.selected {
    background: #E0F7F4;   /* exact image color */
    border-color: #00A889; /* exact image border */
}

.device-card.selected img {
    opacity: 1;
}

.device-card.selected p {
    color: #00A889;
}

/* BUTTONS */
.button-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cancel-btn {
    padding: 8px 22px;
    border: 2px solid #00A889;
    color: #00A889;
    background: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.next-btn {
    padding: 8px 22px;
    border: none;
    background: #00A889;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 450px) {
    .device-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
